label {
    display: block;
    text-transform: uppercase;
    text-align: end;
}

.game {
    width: 550px;
}

.wrapper-main {
    display: flex;
    min-width: 1300px;
}

.game-wrapper {
    flex-direction: column;
    justify-content: end;
    width: 35%;
    min-width: 500px;
    margin-left: 100px;
    display: flex;
    align-items: flex-end;
    padding-right: 100px;;
}

.map-wrapper {
    width: 65%;
    padding-right: 50px;
    padding-top: 100px;
}
.test-flag {
    position: absolute;
    top: 190px;
    right: 239px;
}

#svg-map {
    height: auto;
    width: 100%;
}

#game-input {
    border-bottom: 2px solid #989898;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    font-size: 28px;
    margin-top: 100px;
    width: 450px;
}

#history-input {
    border: none;
    padding: 10px;
    width: 150px;
    text-align: right;
}

.info-block {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.history {
    width: 160px;
    padding-right: 10px;
}

* {
    outline: none;
    font-family: sans-serif;
    font-weight: 100;
}

textarea {
    resize: none;
    font-size: 18px;
}

p {
    padding: 11px;
}

button {
    height: 50px;
    width: 50px;
    padding: 0;
    background: #c1c1c1;
    border: 1px solid white;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

button:hover {
    background: #9c9c9c;
}

.wiki-text {
    width: 320px;
}